<!DOCTYPE html>
<html>
<form method="POST" action="/kpop">
  <p>Your Name: <input type="text" name="name"></p>
  <p>Your Favorite band: <input type="text" name="favorite_band"></p>
  <p>Your Favorite member: <input type="text" name="favorite_member"></p>
  <input type="submit">
</form>
</html>